<div class="card" style="width: 18rem;">
    <div class="card-header">
      <b>User</b>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <button type="button" class="btn btn-primary btn-float-right">Register</button>
        </form>
      </li>
      <li class="list-group-item">
        Welcome to "" Snoop Dog shop!
        <button class="btn btn-danger">Logout</button>
      </li>
    </ul>
  </div>


